                                        # Export all names
exportPattern("^[^\\.]")
# Import all packages listed as Imports or Depends
import(
  mvtnorm
)
useDynLib(mhsmm)

importFrom(graphics, abline, axTicks, legend, lines, plot,
           rect)
importFrom(stats, approx, cov.wt, density, dgamma, dlnorm,
           dnbinom, dnorm, dpois, optim, predict, rgamma,
           rnbinom, rnorm, rpois, ts, uniroot,
           weighted.mean)
importFrom(utils, head, str, tail)
importFrom(stats,simulate)

S3method(plot,hsmm)
S3method(plot,hsmm.data)
S3method(predict,hmm)
S3method(predict,hmmspec)
S3method(predict,hsmm)
S3method(predict,hsmmspec)
S3method(predict,smoothDiscrete)
S3method(print,hmm)
S3method(print,hmmspec)
S3method(print,hsmmspec)
S3method(print,smoothDiscrete)
S3method(simulate,hmmspec)
S3method(simulate,hsmmspec)
S3method(summary,hmm)
S3method(summary,hsmm)
S3method(summary,smoothDiscrete)



