export(chordDiagramFromMatrix)
export(adjacencyList2Matrix)
export(colorRamp2)
export(circos.initializeWithIdeogram)
export(circos.polygon)
export(circos.genomicRect)
export(posTransform.text)
export(highlight.chromosome)
export(circos.updatePlotRegion)
export(circos.text)
export(circos.points)
export(circos.genomicPosTransformLines)
export(highlight.sector)
export(circos.genomicLines)
export(circos.genomicDensity)
export(get.cell.meta.data)
export(circos.trackHist)
export(circos.lines)
export(circos.genomicText)
export(circlize)
export(circos.genomicPoints)
export(col2value)
export(circos.update)
export(circos.genomicLink)
export(circos.par)
export(read.cytoband)
export(getI)
export(show.index)
export(genomicDensity)
export(reverse.circlize)
export(generateRandomBed)
export(circos.clear)
export(posTransform.default)
export(circos.genomicRainfall)
export(circos.genomicTrack)
export(circos.rect)
export(circos.trackLines)
export(circos.yaxis)
export(circos.trackText)
export(circos.dendrogram)
export(circos.genomicTrackPlotRegion)
export(smartAlign)
export(rand_color)
export(circos.initialize)
export(draw.sector)
export(chordDiagramFromDataFrame)
export(circos.segments)
export(cytoband.col)
export(circos.track)
export(circos.link)
export(get.all.track.index)
export(get.all.sector.index)
export(circos.genomicInitialize)
export(get.current.chromosome)
export(rainfallTransform)
export(circos.xaxis)
export(read.chromInfo)
export(degree)
export(circos.trackPoints)
export(circos.axis)
export(circos.trackPlotRegion)
export(chordDiagram)
export(circos.info)

importFrom("GlobalOptions", setGlobalOptions)
importFrom("shape", Arrowhead)
import(graphics)
importFrom("grDevices", col2rgb)
importFrom("grDevices", rgb)
importFrom("utils", download.file)
importFrom("utils", read.table)
importFrom("stats", rnorm)
importFrom("stats", runif)
importFrom("colorspace", coords)
importFrom("colorspace", RGB)
importFrom("colorspace", sRGB)
importFrom("colorspace", LUV)
importFrom("colorspace", HSV)
importFrom("colorspace", LAB)
importFrom("colorspace", HLS)
importFrom("colorspace", XYZ)
importFrom("colorspace", hex)
importFrom("methods", as)
importFrom("grid", grid.pretty)

