S3method("$", GlobalOptionsFun)
export("$.GlobalOptionsFun")
S3method("$", InternalOptionValue)
export("$.InternalOptionValue")
S3method("$<-", GlobalOptionsFun)
export("$<-.GlobalOptionsFun")
S3method(".DollarNames", GlobalOptionsFun)
export(".DollarNames.GlobalOptionsFun")
S3method("[", GlobalOptionsFun)
export("[.GlobalOptionsFun")
S3method("[[", GlobalOptionsFun)
export("[[.GlobalOptionsFun")
S3method("[[<-", GlobalOptionsFun)
export("[[<-.GlobalOptionsFun")
S3method("print", GlobalOptionsFun)
export("print.GlobalOptionsFun")
export('.v')
export(dump_opt)
export(setGlobalOptions)
export(set_opt)

import("methods")
importFrom("utils", .DollarNames)

